/* @root
  Padding: 0
  Margin : 0 */
/* @import"https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" */

/* some bits of code commented out are alternate ideas to come back to or fix :) */

/* to get rid of scrollbars in chrome - will need to fix for other browsers */
  ::-webkit-scrollbar {
    display: none;
}

/* determining menu colour, overlay colour and menu animation speed */
:root {
 --primary-color: rgba(209, 68, 190, 0.2);
 --overlay-color: rgb(95, 76, 206);
 --menu-speed: 0.75s;
 /* text-decoration: none; */
}

/* resetting browser styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* setting font in body but is not currently working on netlify deployed version, unsure why */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 100vw;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

/* showcase class - covers entire page/vh - main container */
/* overlay colour covering background */
.showcase {
  background-color: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
  text-align: center;
}

/* setting background */
.showcase:before {
  content: '';
  background: url('../img/buildings.JPG') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


/* main content section */
.showcase .showcase-inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 20% 60% 20%;
  grid-gap: 1em;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  overflow-y: scroll;
}

/* read more button not currently using:
.showcase .showcase-inner .btn{
  display: inline-block; comment out
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 10%;
  width: 20%; comment out
  border-radius: 50%;
  color: inherit;
  background-color: rgba(123, 124, 124, 0.5);
  border: black;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
} */


/* setting grid and font size for h1 and p */
.showcase h1 {
  font-size: 4rem;
  grid-column: 1;
  }


.showcase p {
  font-size: 1.3rem;
  grid-column: 1;
}

/* opacity when hovering over button */
.btn:hover {
  opacity: 0.5;
}

/* Resume page pdf styling - need to make this grid not flex as it doesnt look great yet especially on mobile*/
/* I used a sample pdf as uploading mine wasnt working on netlify - will fix later */

.showcase .showcase-inner .pdf {
  
display: flex;
align-items: center;
justify-content: center;

}

/* iframe styling to show pdf document - needs to be adjusted as it is too small */
.showcase .showcase-inner .pdf .iframe {
  max-width: 100%;
  height: auto;
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  align-content: center;
  justify-content: center;
 
}

/* resume pdf download button styling - to be fixed */

.showcase .showcase-inner .pdf .downloadbutton {
  display: grid;
  align-content: center;
  text-decoration: none;

}

article {
  position: relative;
}


/* Style for all social icons */

.showcase .showcase-inner .socials .icons {
  padding: 50px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  align-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  grid-column: 1;

}

.socials {
  grid-row-start: 3;
  grid-row-end: 3;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  align-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  grid-column: 1;
 

}

/* Hover effect on icons */
.fa:hover {
  opacity: 0.7;
}

/* Specific color for each brand */

/* Linkedin */
.fa-linkedin {
  background: #0073b1;
  color: white;
}

/* Medium */
.fa-medium {
  background: rgb(0, 0, 0);
  color: white;
}

/* Github */
.fa-github {
  background: rgb(12, 12, 12);
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* scroller button - not yet using, would like to add smooth scrolling in future */

/* .fa-scroller {

  background: rgb(12, 12, 12);
  color: white;
  
} */

/* styling for skills images below */

.ruby {
  padding: 20px;
   width: 100px;
  height: 100px;
  align-content: center;
  border-radius: 10%;
  /* display: flex; */
  
}

.html {
  padding: 20px;
  width: 100px;
  height: 100px;
  align-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
  /* display: flex; */
 
}
.css {
  padding: 20px;
  width: 100px;
  height: 100px;
  align-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
  /* display: flex; */
 
}

/* positioning of skills/languages images */
.showcase .showcase-inner .skills {
 display: grid;
 
  padding: 50px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  align-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  grid-column: 1;
}

.showcase .showcase-inner .image {
 
  display: flex;
  /* grid-column: 1; */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
    
}

/* making sure user can scroll when p is overflowing */
p {
  overflow-y: scroll;
}

.showcase .showcase-inner .title-home {
  
  display: grid;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.showcase .showcase-inner .para-home {
  display: grid;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.showcase .showcase-inner .errortext {
  text-decoration: none;
}

.showcase .showcase-inner .blog-grid {
display: grid;
justify-content: center;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
grid-column-gap: 1em;
grid-row-gap: 1em;
height: 100vh;
width: 100vw;
overflow-y: scroll;
padding: 5%;
}

.showcase .showcase-inner .blog-grid .blog-title {
  justify-content: center;
  text-decoration: none;
}

.showcase .showcase-inner .blog-grid .blog-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.showcase .showcase-inner .blog-grid .gif {
  border-radius: 5%;
  max-width: 100%;
  height: auto;
}


.showcase .showcase-inner .blog-grid .blog-text {
  text-align: left;
}

.showcase .showcase-inner .text-box {

}

.showcase .showcase-inner .contact-buttons {
  
}
