/* @root
  Padding: 0
  Margin : 0 */

:root {
 --primary-color: rgba(209, 68, 190, 0.2);
 --overlay-color: rgb(95, 76, 206);
 --menu-speed: 0.75s;
 /* text-decoration: none; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 100vw;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

/* showcase class - covers entire page/vh - main container equivalent to body  */
.showcase {
  background-color: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
  text-align: center

  /* test grid layout - didnt work */

  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vw 30vw 10vw;
  grid-gap: 1em; */
}

.showcase:before {
  content: '';
  background: url('../img/sky.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* .container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 20% 60% 20%;
  grid-gap: 1em;
  justify-content: center;
  text-align: center;
} */

/* main content section */
.showcase .showcase-inner {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%; */

    /* test grid layout */

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 20% 60% 20%;
  grid-gap: 1em;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

/* read more button not currently using
.showcase .showcase-inner .btn{
  display: inline-block; comment out
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 10%;
  width: 20%; comment out
  border-radius: 50%;
  color: inherit;
  background-color: rgba(123, 124, 124, 0.5);
  border: black;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
} */

/* .showcase .showcase-inner .btn:hover {
  transition: opacity 1s ease-in;
} */

/* remove grid stuff from h1 and p if needed */

.showcase h1 {
  font-size: 4rem;
  grid-column: 1;
  }


.showcase p {
  font-size: 1.3rem;
  grid-column: 1;
}

/* grid styling for image and socials */

/* .btn {
  display: inline-block;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity 1s ease-in; */
}

.btn:hover {
  opacity: 0.5;
}

/* Resume page pdf styling */

.pdf {
  border: none;
}

.pdf.downloadbutton {
  display: flex;
  border: none;
  background-color: rgba(26, 240, 26)
  z-index: 1;
}


/* Blog + project page styling */

/* .showcase .showcase-inner .blogs {
  max-width: 960px;
  margin: 0 auto 30px;
} */

article {
  position: relative;
}

/* .showcase .showcase-inner .blog-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.showcase .showcase-inner .blog-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
} */



/* Style for all social icons */

.showcase .showcase-inner .socials .icons {
  padding: 50px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  align-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  grid-column: 1;

/* grid-template-columns: repeat(auto-fill, 1fr);
grid-column-gap: 1em;
grid-row-gap: 1em; */
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  align-content: center;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  grid-column: 1;
 
  /* grid-template-columns: repeat(auto-fill, 1fr);
grid-column-gap: 1em;
grid-row-gap: 1em; */
}

/* Hover effect on icons */
.fa:hover {
  opacity: 0.7;
}

/* Specific color for each brand */

/* Linkedin */
.fa-linkedin {
  background: #0073b1;
  color: white;
}

/* Medium */
.fa-medium {
  background: rgb(0, 0, 0);
  color: white;
}

/* Github */
.fa-github {
  background: rgb(12, 12, 12);
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* scroller button */

.fa-scroller {

  background: rgb(12, 12, 12);
  color: white;

  
  /* display: inline-block;
  background: rgb(0, 0, 0);
  color: white;
  /* flex-wrap: wrap; */
  /* padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%; */ */
  
}

.showcase .showcase-inner .image {
  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; */
  
  display: grid;
  grid-column: 1;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}

.showcase .showcase-inner .title-home {
  
  display: grid;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.showcase .showcase-inner .para-home {
  display: grid;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.showcase .showcase-inner .errortext {
  text-decoration: none;
}

.showcase .showcase-inner .blog-grid {
/* grid-column: 1; */
display: grid;
justify-content: center;
/* text-align: left; */
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
grid-column-gap: 1em;
grid-row-gap: 1em;
border-color: black;
}

.showcase .showcase-inner .blog-grid .blog-title {
  justify-content: center;
  /* text-align: match-parent; */
  text-decoration: none;
}

.showcase .showcase-inner .blog-grid .blog-img {
  border-radius: 50%;
  /* width: 200px;
  height: 200px; */
  /* align-items: center;
  flex-direction: column;
  justify-content: center; */
}

.showcase .showcase-inner .blog-grid .blog-text {
  text-align: left;
}

/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . ." ". . ." ". . .";
} */

/* .showcase .showcase-inner .footertest {
background-color: lawngreen;
} */

.showcase .showcase-inner .text-box {

}

.showcase .showcase-inner .contact-buttons {
  
}
